<div class="resume-section">
    <h2>References</h2>
    <div class="reference-card">
    <!-- Reference 1 -->
    <div class="reference">
      <h3>{{ reference1.name }}</h3>
      <p><strong>Title:</strong> {{ reference1.title }}</p>
      <p><strong>Company:</strong> {{ reference1.company }}</p>
      <p><strong>Contact:</strong> {{ reference1.contact }}</p>
    </div>
  
    <!-- Reference 2 -->
    <div class="reference">
      <h3>{{ reference2.name }}</h3>
      <p><strong>Title:</strong> {{ reference2.title }}</p>
      <p><strong>Company:</strong> {{ reference2.company }}</p>
      <p><strong>Contact:</strong> {{ reference2.contact }}</p>
    </div>
  </div>
