<div class="resume-section">
    <div class="job">
      <h2>{{ title }}</h2>
      <ul>
        <li><strong>Company Name:</strong> {{ companyName }}</li>
        <li><strong>Location:</strong> {{ location }}</li>
        <li><strong>Duration:</strong> {{ duration }}</li>
        <li><strong>Responsibilities:</strong></li>
        <ul>
          <li>{{ responsibilities[0] }}</li>
          <li>{{ responsibilities[1] }}</li>
          <li>{{ responsibilities[2] }}</li>
          <li>{{ responsibilities[3] }}</li>
        </ul>
      </ul>
    </div>
  </div>
