<div class="resume-container">
        <div class="header">
          <img src="images/profile.jpg" alt="Profile Image" class="profile-image" />
          <h1>Jessica Hanschke</h1>
          <p>Web Developer | Front-end & Graphic Design</p>
        </div>
      
        <div class="resume-sections">
          <div class="resume-section">
            <h2>Personal Information</h2>
            <ul>
              <li>Full Name: Jessica Hanschke</li>
              <li>Address: {{ address }}</li>
              <li>Phone: {{ phoneNumber }}</li>
              <li>Email: {{ email }}</li>
              <p>Objective: {{ objective }}</p>
            </ul>
          </div>
        </div>
      </div>
      