body {
    font-family: 'Arial', sans-serif;
    background-color: #D3D3D3; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
  }
  

  .resume-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px;
    background: linear-gradient(135deg, #8B0000, #9B2424); 
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    color: #EEDADA; 
  }
  

  .header {
    text-align: center;
    color: #EEDADA;
    padding-bottom: 20px;
    border-bottom: 4px solid #B22222;
  }

  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 5px solid #B22222; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
  }

  .resume-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .resume-section {
    flex: 1;
    min-width: 280px;
    padding: 20px;
    background: #9B2424;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .resume-section:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  }
  
  .resume-section h2 {
    font-size: 2.2em;
    color: #EEDADA;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid #B22222; 
  }
  
  .resume-section ul {
    list-style: none;
    padding-left: 0;
  }
  
  .resume-section li {
    font-size: 1.1em;
    color: #F8F8F8;
    margin-bottom: 10px;
    position: relative;
  }
  
  .resume-section li::before {
    content: "►";
    color: #B22222; 
    position: absolute;
    left: -20px;
    top: 0;
  }
  

  .footer {
    text-align: center;
    margin-top: 40px;
    color: #F8F8F8;
    padding-top: 20px;
    border-top: 4px solid #B22222; 
  }
  
  .footer p {
    font-size: 1.2em;
  }
  
  .footer a {
    color: #B22222;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  